.App {
  text-align: center;

  .title-container {
    margin-left: 100px;
  }

  h1 {
    font-family: "Bigelow Rules", cursive;
    font-size: 26vw;
    color: #0ccac4;
    display: inline-block;
    margin: 0;
  }
}
